<div class="container project-page">
    <div class="row project-header">
         <div class="col-md-1">
             <img ng-src="{{profileInstance.user.photoURL || defaultProfile}}" class="profile-pic">
         </div>
         <div class="col-md-5 text-uppercase name-header">
             <div style="display: table-row">
                <h4>{{profileInstance.user.firstName + ' ' + profileInstance.user.lastName}}</h4> | <small><a href="/#!/profile/-1/-1">Edit</a></small>
             </div>
             <div style="display: table-row" class="text-center">
                <a ng-href="{{profileInstance.user.linkedin}}">
                    <img src="img/logos/linkedin.png" width="30px">   
                </a>    
                <a ng-href="{{profileInstance.user.github}}">          
                    <img src="img/logos/github.png" width="30px">
                </a>
                <a ng-href="{{profileInstance.user.twitter}}">          
                    <img src="img/logos/twitter.png" width="35px">
                </a>
             </div>
         </div>
         <div class="col-md-5 text-right" style="margin-top: 30px;">
             <a href="#" ng-click="logout()">Logout</a>
             <h3 style="margin-top: 0"><small>{{profileInstance.user.title}} | {{profileInstance.user.company}}</small></h3>
         </div>
    </div>
    <ig-tats-hr style="display: inline-block; width: 101%"></ig-tats-hr>

    <div class="row project-body">
        <div class="col-md-7" style="padding-left: 0">
            <div class="gallery">
                <div class="row text-right gallery-controls">
                    <span style="background: rgba(255,255,255,0.5); padding: 4px;">
                        <img src="img/projects/left-arrow.jpg" width="20px" 
                        style="cursor:pointer;"
                        ng-click="prevImg()"> 
                    </span>
                    <span style="background: rgba(255,255,255,0.5); padding: 4px;">
                        <img src="img/projects/right-arrow.png" 
                        style="cursor:pointer;"
                        width="20px" ng-click="nextImg()"> 
                    </span>
                </div>
                <div class="row">
                    <img ng-if="projectInstance.img_index===0" class="gallery-img"
                        ng-src="{{projectInstance.projects[projectInstance.selectedProject].img1}}">  
                    <img ng-if="projectInstance.img_index===1" class="gallery-img"
                        ng-src="{{projectInstance.projects[projectInstance.selectedProject].img2}}"> 
                    <img ng-if="projectInstance.img_index===2" class="gallery-img"
                        ng-src="{{projectInstance.projects[projectInstance.selectedProject].img3}}"> 
                </div>
            </div>
        </div>
        <div class="col-md-5 project-detail">
            <h4>{{projectInstance.projects[projectInstance.selectedProject].title}}</h4>
            <ig-tats-hr></ig-tats-hr>
            
            <div class="skills">
                <b>Skills : </b>
                     <span style="text-transform: capitalize;"
                        ng-repeat="(skill, bool) in projectInstance.projects[projectInstance.selectedProject].skills">
                         {{skill}}
                     </span>
                 <br>
                <b>Project URL : </b> 
                    <a ng-href="{{projectInstance.projects[projectInstance.selectedProject].url}}">
                        {{projectInstance.projects[projectInstance.selectedProject].url}}
                    </a>
            </div>

            <ig-tats-hr></ig-tats-hr>
            <div class="proj-desc">
                {{projectInstance.projects[projectInstance.selectedProject].desc}}
            </div>
        </div>
    </div>

    <div class="row other-projects">
        <div style="display: table-row">
            <div class="other-prj-title text-center">Projects</div>
            <div style="display: table-cell; width: 100%">
                <hr style="border-top: 3px solid #eee">
                </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div ng-repeat="(key, project) in projectInstance.projects"
                 class="col-md-2 text-center" style="min-height: 200px; min-width: 250px;">
                    <a href="#" ng-click="setSelected(key)">
                        <img ng-src="{{project.img1}}" height="200px">
                    </a>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="(key, project) in projectInstance.projects"
                 class="col-md-2 text-center" style="min-width: 250px;">
                    <a href="#" ng-click="setSelected(key)">
                        {{project.title}}
                    </a>
            </div>
        </div>
    </div>
</div>
    
    