.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold; }

.login-btn {
  padding: 0;
  width: 300px; }

.profile-page .basic-info {
  padding: 10px;
  border: solid 3px #dadada; }
  .profile-page .basic-info h3 {
    font-size: 18px; }
  .profile-page .basic-info .left-col {
    padding-top: 30px; }
  .profile-page .basic-info .right-col {
    border-left: solid 1px #dadada; }

.profile-page .social-info {
  padding-top: 25px;
  border: solid 3px #dadada; }

.profile-page .project-info {
  padding-top: 25px;
  padding-bottom: 25px;
  border: solid 3px #dadada; }
  .profile-page .project-info .right-col .checkbox-inline, .profile-page .project-info .right-col .radio-inline {
    width: 120px;
    font-weight: 500; }

.project-page .project-header {
  margin-top: 20px;
  margin-bottom: 20px; }
  .project-page .project-header .profile-pic {
    border-radius: 50%;
    max-width: 100px; }
  .project-page .project-header .name-header {
    padding-top: 20px;
    padding-left: 35px; }
    .project-page .project-header .name-header h4 {
      display: inline-block; }

.project-page .project-body .gallery {
  padding: 5px 20px 5px 15px;
  margin: 15px 15px 15px 0;
  height: 350px;
  position: relative; }
  .project-page .project-body .gallery .gallery-controls {
    position: absolute;
    right: 35px;
    top: 15px; }
  .project-page .project-body .gallery .gallery-img {
    height: 350px;
    max-width: 100%; }

.project-page .project-body .project-detail {
  padding: 0; }
  .project-page .project-body .project-detail h4 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 25px; }
  .project-page .project-body .project-detail .skills {
    margin-top: 15px;
    margin-bottom: 30px; }
  .project-page .project-body .project-detail .proj-desc {
    margin-top: 15px; }

.project-page .other-projects .other-prj-title {
  background-color: #FFBE00;
  min-width: 90px;
  height: 30px;
  vertical-align: middle;
  display: table-cell;
  font-weight: 500; }

.project-page .other-projects .project-gallery {
  display: table-row; }
  .project-page .other-projects .project-gallery .gallery-item {
    display: table-cell;
    width: 80px; }

.ig-tats-hr {
  display: inline-block;
  width: 100%;
  margin: 0 0 0 -15px; }
  .ig-tats-hr .start-hr {
    background-color: #EFB70A;
    height: 3px;
    padding: 0; }
  .ig-tats-hr .end-hr {
    background-color: #dadada;
    height: 2px;
    padding: 0; }
