.profile-page {
    .basic-info {
        padding: 10px;
        border: solid 3px #dadada;

        h3 {
            font-size: 18px;
        }

        .left-col {
            padding-top: 30px;
        }

        .right-col {
            border-left: solid 1px #dadada;
        }
    }

    .social-info {
        padding-top: 25px;
        border: solid 3px #dadada;
    }
}