<div class="container profile-page">
    <div class="row basic-info">
        <h3>BASIC INFORMATION</h3>
        <div class="col-md-2 left-col text-center">
            <img class="profile-photo" 
                 ng-src="{{user.photoURL || defaultProfile}}" 
                 width="70px"
                 style="display: block;
                        margin-left: 25%"><br>
            <a href="#"><img src="img/upload.jpg"> Upload </a>
            <br><br><br>
            <button class="btn btn-success btn-lg" ng-click="saveProfile()">
                        Save</button>
        </div>

        <div class="col-md-9 right-col">
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>FirstName:</label>
                            <input type="text" class="form-control" id="firstName" ng-model="user.firstName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>LastName:</label>
                            <input type="text" class="form-control" id="lastName" ng-model="user.lastName">
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" class="form-control" id="title" ng-model="user.title">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Company:</label>
                            <input type="text" class="form-control" id="title" ng-model="user.company">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Location:</label>
                            <input type="text" class="form-control" id="title" ng-model="user.country">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Website URL:</label>
                            <input type="text" class="form-control" id="title" ng-model="user.url">
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="row social-info">
        <div class="col-md-2"></div>
        <div class="col-md-9 right-col">
             <div class="col-md-offset-1 col-md-10">
                 <form class="form-horizontal">
                     <div class="form-group">
                         <div class="col-md-2" style="padding: 0; width: 14%">
                         <label><img src="img/logos/linkedin.png" width="25px"> &nbsp;LinkedIn</label>
                             
                         </div>
                         <div class="col-md-10">
                             <input type="text" class="form-control" ng-model="user.linkedin">
                         </div>
                     </div>
                    
                    <hr>

                     <div class="form-group">
                         <div class="col-md-2" style="padding: 0; width: 14%">
                         <label><img src="img/logos/github.png" width="25px"> &nbsp;Github</label>
                             
                         </div>
                         <div class="col-md-10">
                             <input type="text" class="form-control" ng-model="user.github">
                         </div>
                     </div>

                     
                 </form>
             </div>
        </div>
    </div>
    
    <div class="row project-info" ng-repeat="(key, project) in profileInstance.projects">
        <div class="col-md-2 left-col text-center">
            <button class="btn btn-success" ng-click="saveProject(key)">
                        Save</button>
            <button class="btn btn-danger" ng-click="deleteProject(key)">
                        Delete</button>
            <br>
            <br>
            <button ng-click="addProject()" class="btn btn-default btn-lg">Add Project</button>
            
        </div>

         <div class="col-md-9 right-col">
                <div class="col-md-offset-1 col-md-10">
                    
                    <div class="form-group">
                        <label>Project Name</label>
                        <input type="text" class="form-control" id="title" ng-model="project.title">
                    </div>
           
                    <div class="form-group">
                        <label>Project Description</label>
                        <textarea class="form-control" rows="3" id="project_desc" ng-model="project.desc"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label>Project URL</label>
                        <input type="text" class="form-control" id="title" ng-model="project.url">
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Skills</label>
                        </div>
                        <div class="col=md-9" style="display: inline-block;">
                            <div class="row">
                                <label class="checkbox-inline">
                                    <input type="checkbox" 
                                        ng-model="project.skills.html"> HTML
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" 
                                        ng-model="project.skills.jquery"> jQuery
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" 
                                        ng-model="project.skills.sass"> Sass
                                </label>
                            </div>
                            <div class="row">
                                <label class="checkbox-inline">
                                    <input type="checkbox" 
                                        ng-model="project.skills.css"> CSS
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" 
                                        ng-model="project.skills.angular"> Angular
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" 
                                        ng-model="project.skills.react"> React
                                </label>
                            </div>
                            <div class="row">
                                <label class="checkbox-inline">
                                    <input type="checkbox" 
                                        ng-model="project.skills.javascript"> Javascript
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" 
                                        ng-model="project.skills.node"> Node
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" 
                                        ng-model="project.skills.bootstrap"> Bootstrap
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Image 1:</label>
                        <input type="file" id="img1" file-model="project.img1">          
                    </div>
                   
                    <div class="form-group">
                        <label>Image 2:</label>
                        <input type="file" id="img2" file-model="project.img2">
                    </div>

                    <div class="form-group">
                        <label>Image 3:</label>           
                        <input type="file" id="img3" file-model="project.img3">                
                    </div>

                </div>
         </div>
    </div>
</div>